<div>
  <h1>{{group}}</h1>
  <form>
    <div class="input-field" ng-model="group">
      <select>
        <option value="qbs">NFL Quarterbacks</option>
        <option value="presidents">U.S. Presidents</option>
        <option value="languages">Programming Languages</option>
        <option value="all">All searches</option>
      </select>
    </div>
  </form>
  <div class="input-field">
    <button ng-click="initSelect()">Test</button>
    <button ng-click="getGroup(group)">Click me</button>
  </div>
  <ol>
    <li ng-repeat="item in data | orderBy: '-score'">{{item.search}}: {{item.score}}</li>
  </ol>
</div>
