<div>
  <h1>{{group}}</h1>
  <form>
    <div class="form-group">
      <select ng-model="group">
        <option value="qbs">NFL Quarterbacks</option>
        <option value="presidents">U.S. Presidents</option>
        <option value="languages">Programming Languages</option>
        <option value="all">All searches</option>
      </select>
    </div>
  </form>
    <div class="group">
      <div class="card group-card" ng-repeat="item in data | orderBy: '-score' track by $index">
        <div class="card-block">
          <h4 class="card-title">{{$index + 1}}.) {{item.search}}</h4>
        </div>
        <div class="card-block">
          <p>Score: {{item.score}}</p>
        </div>
      </div>
    </div>
</div>
