<div class="row">
  <div class="col s6">
    <div>
      <form ng-submit="search(queryLeft, 'left')">
        <input type="text" ng-model="queryLeft">
      </form>
      <h1 class="center">{{titleLeft}}</h1>
      <h2 class="center">{{scoreLeft}}</h2>
      <div>
        <bubble-chart data="dataLeft"></bubble-chart>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div>
      <form ng-submit="search(queryRight)">
        <input type="text" ng-model="queryRight">
      </form>
      <h1 class="center">{{titleRight}}</h1>
      <h2 class="center">{{scoreRight}}</h2>
      <div>
        <bubble-chart data="dataRight"></bubble-chart>
      </div>
    </div>
  </div>
</div>
