<div class="row">
  <div class="col s6">
    <form ng-submit="search(queryLeft, 'left')">
      <input type="text" ng-model="queryLeft">
    </form>
    <h1 class="center">{{titleLeft}}</h1>
    <h2 class="center">{{scoreLeft}}</h2>
    <bubble-chart data="dataLeft"></bubble-chart>
  </div>
  <div class="col s6">
    <form ng-submit="search(queryRight, 'right')">
      <input type="text" ng-model="queryRight">
    </form>
    <h1 class="center">{{titleRight}}</h1>
    <h2 class="center">{{scoreRight}}</h2>
    <bubble-chart data="dataRight"></bubble-chart>
  </div>
</div>
