/* Styling */
#main {
  width: 90%;
}

#search-form {
  width: 40%;
  margin: auto;
}

#search-field {
  font-size: 2.5rem;
  margin: 10px auto
}

/* SVG Styling */
circle {
  fill: white;
  fill-opacity: .75;
  stroke: rgb(31, 119, 180);
  /*stroke-width: 1px;*/
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

.positive {
  fill: steelblue;
}

.negative {
  fill: red;
}
